{% extends 'amigos.html' %}

{% load static %}

{% load my_filters %}

{% block tabs %}
<section class="section">

    {% for seguido in seguidos %}
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between ">
                    {% if seguido.img_profile is not None %}
                        <img class="rounded-circle" width="60px" height="60px" src="{{seguido.img_profile.img.url}}">
                    {% else %}
                        <img class="rounded-circle" width="60px" height="60px" src="{% static 'assets/images/Barcelona.jpg' %}"> 
                    {% endif %}

                    <h5 class="mb-1">{{seguido.username}}</h5>

                    <div>
                      <a class="btn btn-danger" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i>
                      </a>
                    </div>
          </div>
        </div>
        
      </div>
      {% endfor %}
</section>


{% endblock %}